<div class="px-5" *ngIf="!showLoader">
  <div class="pt-3 d-flex justify-content-between">
    <div class="d-flex align-items-center">
      <button class="icon-btn" (click)="onBackClick()">
        <mat-icon class="back-icon">keyboard_arrow_left</mat-icon>
      </button>
      <h2 class="px-2">{{ id.id ? "Update" : "Add" }} Patry Details</h2>
    </div>
    <div>
      <button
        mat-flat-button
        color="primary"
        [disabled]="partyDetailForm.invalid"
        (click)="onSaveClick()"
      >
        {{ id.id ? "Update" : "Add" }}
      </button>
    </div>
  </div>
  <div class="pt-3">
    <div class="pt-3">
      <mat-card>
        <mat-card-content>
          <div class="p-2 d-flex justify-content-between">
            <div><h2>Personal Detail</h2></div>
            <div>
              <mat-slide-toggle color="primary" [(ngModel)]="apply_tds"
                >Apply TDS</mat-slide-toggle
              >
            </div>
          </div>
          <form [formGroup]="partyDetailForm">
            <div class="row w-100 m-0 justify-content-between">
              <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Name</mat-label>
                  <input
                    type="text"
                    formControlName="name"
                    matInput
                    placeholder="Enter Name"
                  />
                </mat-form-field>
                <div
                  class="text-danger"
                  *ngIf="
                    partyDetailForm.get('name')?.touched &&
                    partyDetailForm.get('name')?.errors?.['required']
                  "
                >
                  Name is required
                </div>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Company Name</mat-label>
                  <input
                    type="text"
                    formControlName="company_name"
                    matInput
                    placeholder="Enter Company Name"
                  />
                </mat-form-field>
                <div
                  class="text-danger"
                  *ngIf="
                  partyDetailForm.get('company_name')?.touched &&
                  partyDetailForm.get('company_name')?.errors?.['required']
                "
                >
                  Company name is required
                </div>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Mobile No.</mat-label>
                  <input
                    type="number"
                    formControlName="mobile_no"
                    matInput
                    placeholder="Enter Mobile no"
                  />
                </mat-form-field>
                <div
                  class="text-danger"
                  *ngIf="
                  partyDetailForm.get('mobile_no')?.touched &&
                  partyDetailForm.get('mobile_no')?.errors?.['required']
                "
                >
                  Mobile no is required
                </div>
              </div>
            </div>
            <div class="row w-100 m-0 justify-content-between">
              <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Email</mat-label>
                  <input
                    type="email"
                    formControlName="email"
                    matInput
                    placeholder="Enter Email"
                  />
                </mat-form-field>
                <div
                  class="text-danger"
                  *ngIf="
                  partyDetailForm.get('email')?.touched &&
                  partyDetailForm.get('email')?.errors?.['required']
                "
                >
                  Email is required
                </div>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Credit Limit</mat-label>
                  <input
                    type="number"
                    formControlName="credit_limit"
                    matInput
                    placeholder="Enter Credit Limit"
                  />
                </mat-form-field>
                <div
                  class="text-danger"
                  *ngIf="
                  partyDetailForm.get('credit_limit')?.touched &&
                  partyDetailForm.get('credit_limit')?.errors?.['required']
                "
                >
                  Credit limit is required
                </div>
              </div>
              <div class="col-md-4">
                <mat-label>Image</mat-label>
                <br />

                <input
                  type="file"
                  class="file-input"
                  accept="image/jpg, image/png"
                  formControlName="image"
                  (change)="onFileSelected($event)"
                  #fileUpload
                />
                <div
                  class="text-danger"
                  *ngIf="
                partyDetailForm.get('image')?.touched &&
                partyDetailForm.get('image')?.errors?.['required']
              "
                >
                  Image is required
                </div>

                <div class="file-upload">
                  {{ fileName || "No file uploaded yet." }}

                  <button
                    mat-mini-fab
                    color="primary"
                    class="upload-btn"
                    (click)="fileUpload.click()"
                  >
                    <mat-icon>attach_file</mat-icon>
                  </button>
                </div>
              </div>
            </div>
            <div class="row w-100 m-0 justify-content-between">
              <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Telephone no</mat-label>
                  <input
                    type="number"
                    formControlName="telephone_no"
                    matInput
                    placeholder="Enter Telephone Number"
                  />
                </mat-form-field>
                <div
                  class="text-danger"
                  *ngIf="
                  partyDetailForm.get('telephone_no')?.touched &&
                  partyDetailForm.get('telephone_no')?.errors?.['required']
                "
                >
                  Telephone no is required
                </div>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Whatsapp No </mat-label>
                  <input
                    type="number"
                    matInput
                    formControlName="whatsapp_no"
                    placeholder="Enter Whatsapp No"
                  />
                </mat-form-field>
                <div
                  class="text-danger"
                  *ngIf="
                  partyDetailForm.get('whatsapp_no')?.touched &&
                  partyDetailForm.get('whatsapp_no')?.errors?.['required']
                "
                >
                  Whatsapp no is required
                </div>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Remark</mat-label>
                  <input
                    formControlName="remark"
                    type="text"
                    matInput
                    placeholder="Enter remark"
                  />
                </mat-form-field>
                <div
                  class="text-danger"
                  *ngIf="
                  partyDetailForm.get('remark')?.touched &&
                  partyDetailForm.get('remark')?.errors?.['required']
                "
                >
                  Remark is required
                </div>
              </div>
            </div>
            <div class="row w-100 m-0 justify-content-between">
              <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Pan No</mat-label>
                  <input
                    type="text"
                    formControlName="pan_no"
                    matInput
                    placeholder="Enter Pan no"
                  />
                </mat-form-field>
                <div
                  class="text-danger"
                  *ngIf="
                  partyDetailForm.get('pan_no')?.touched &&
                  partyDetailForm.get('pan_no')?.errors?.['required']
                "
                >
                  Pan no is required
                </div>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Gstin</mat-label>
                  <input
                    type="text"
                    formControlName="gstin"
                    matInput
                    placeholder="Enter Gstin"
                  />
                </mat-form-field>
                <div
                  class="text-danger"
                  *ngIf="
                  partyDetailForm.get('Gstin')?.touched &&
                  partyDetailForm.get('Gstin')?.errors?.['required']
                "
                >
                  Gstin is required
                </div>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Birth Date</mat-label>
                  <input
                    matInput
                    [matDatepicker]="dp"
                    formControlName="date_of_birth"
                  />
                  <mat-hint></mat-hint>
                  <mat-datepicker-toggle
                    matIconSuffix
                    [for]="dp"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #dp></mat-datepicker>
                </mat-form-field>
                <div
                  class="text-danger"
                  *ngIf="
                  partyDetailForm.get('date_of_birth')?.touched &&
                  partyDetailForm.get('date_of_birth')?.errors?.['required']
                "
                >
                  Date of birth is required
                </div>
              </div>
            </div>
            <div class="row w-100 m-0 justify-content-between">
              <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Anniversary Date</mat-label>
                  <input
                    matInput
                    [matDatepicker]="datepick"
                    formControlName="anniversary_date"
                  />
                  <mat-hint></mat-hint>
                  <mat-datepicker-toggle
                    matIconSuffix
                    [for]="datepick"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #datepick></mat-datepicker>
                </mat-form-field>
                <div
                  class="text-danger"
                  *ngIf="
                  partyDetailForm.get('anniversary_date')?.touched &&
                  partyDetailForm.get('anniversary_date')?.errors?.['required']
                "
                >
                  Anniversary date is required
                </div>
              </div>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="pt-3">
      <mat-card>
        <mat-card-content>
          <div class="p-2 d-flex">
            <h2>Address Detail</h2>
            <button (click)="addAddress()" class="icon-btn">
              <mat-icon>add</mat-icon>
            </button>
          </div>
          <div
            *ngFor="let addressGroup of partyDetails?.address; let i = index"
          >
            <div class="d-flex align-items-center justify-content-between px-3">
              <div>
                <h5>Address {{ i + 1 }}</h5>
              </div>
              <div>
                <button
                  mat-flat-button
                  color="warn"
                  (click)="onAddressDelete(i)"
                >
                  Delete
                </button>
              </div>
            </div>
            <div class="row w-100 m-0 justify-content-between">
              <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Address Line 1</mat-label>
                  <input
                    type="text"
                    [(ngModel)]="addressGroup.address_line_1"
                    matInput
                    placeholder="Enter Address"
                  />
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Address Line 2</mat-label>
                  <input
                    type="text"
                    [(ngModel)]="addressGroup.address_line_2"
                    matInput
                    placeholder="Enter Address"
                  />
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Country</mat-label>
                  <input
                    type="text"
                    [(ngModel)]="addressGroup.country"
                    matInput
                    placeholder="Enter Country"
                  />
                </mat-form-field>
              </div>
            </div>
            <div class="row w-100 m-0 justify-content-between">
              <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>State</mat-label>
                  <input
                    type="text"
                    [(ngModel)]="addressGroup.state"
                    matInput
                    placeholder="Enter State"
                  />
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>City</mat-label>
                  <input
                    type="text"
                    [(ngModel)]="addressGroup.city"
                    matInput
                    placeholder="Enter City"
                  />
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Pincode</mat-label>
                  <input
                    type="number"
                    [(ngModel)]="addressGroup.pincode"
                    matInput
                    placeholder="Enter Pincode"
                  />
                </mat-form-field>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="py-3">
      <mat-card>
        <mat-card-content>
          <div class="p-2 d-flex">
            <h2>Bank Detail</h2>
            <button (click)="addBank()" class="icon-btn">
              <mat-icon>add</mat-icon>
            </button>
          </div>
          <div *ngFor="let bankGroup of partyDetails?.bank_id; let i = index">
            <div class="d-flex align-items-center justify-content-between px-3">
              <div>
                <h5>Bank {{ i + 1 }}</h5>
              </div>
              <div>
                <button mat-flat-button color="warn" (click)="onBankDelete(i)">
                  Delete
                </button>
              </div>
            </div>
            <div class="row w-100 m-0 justify-content-between">
              <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Account Holder Name</mat-label>
                  <input
                    type="text"
                    [(ngModel)]="bankGroup.account_holder_name"
                    matInput
                    placeholder="Enter Account Holder Name"
                  />
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Account No</mat-label>
                  <input
                    type="number"
                    [(ngModel)]="bankGroup.account_no"
                    matInput
                    placeholder="Enter Account No."
                  />
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Bank Name</mat-label>
                  <input
                    type="text"
                    [(ngModel)]="bankGroup.bank_name"
                    matInput
                    placeholder="Enter Bank Name"
                  />
                </mat-form-field>
              </div>
            </div>
            <div class="row w-100 m-0 justify-content-between">
              <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Branch Name</mat-label>
                  <input
                    type="text"
                    [(ngModel)]="bankGroup.branch_name"
                    matInput
                    placeholder="Enter Branch Name"
                  />
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Bank IFSC Code</mat-label>
                  <input
                    type="text"
                    [(ngModel)]="bankGroup.bank_ifsc_code"
                    matInput
                    placeholder="Enter Company Name"
                  />
                </mat-form-field>
              </div>
              <div class="col-md-4"></div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div
  class="w-100 h-100 d-flex align-items-center justify-content-center"
  *ngIf="showLoader"
>
  <mat-spinner></mat-spinner>
</div>
