.icon-btn {
  background: none !important;
  border: 0px;
}

.back-icon {
  font-size: 36px;
}

.file-input {
  display: none;
}

@media screen and (max-width: 480px) {
  .px-5 {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}
