<div class="px-5">
  <div class="pt-3 d-flex justify-content-between">
    <div class="d-flex align-items-center">
      <button class="icon-btn" (click)="onBackClick()">
        <mat-icon class="back-icon">keyboard_arrow_left</mat-icon>
      </button>
      <h2 class="px-2">Add Patry Details</h2>
    </div>
    <div>
      <button mat-flat-button color="primary" (click)="onSaveClick()">
        Save
      </button>
    </div>
  </div>
  <div class="pt-3">
    <form [formGroup]="partyDetailForm">
      <div class="pt-3">
        <mat-card>
          <mat-card-content>
            <div class="p-2 d-flex justify-content-between">
              <div><h2>Personal Detail</h2></div>
              <div>
                <mat-slide-toggle color="primary" formControlName="apply_tds"
                  >Apply TDS</mat-slide-toggle
                >
              </div>
            </div>
            <div class="row w-100 m-0 justify-content-between">
              <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Name</mat-label>
                  <input
                    type="text"
                    formControlName="name"
                    matInput
                    placeholder="Enter Name"
                  />
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Company Name</mat-label>
                  <input
                    type="text"
                    formControlName="company_name"
                    matInput
                    placeholder="Enter Company Name"
                  />
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Mobile No.</mat-label>
                  <input
                    type="number"
                    formControlName="mobile_no"
                    matInput
                    placeholder="Enter Mobile no"
                  />
                </mat-form-field>
              </div>
            </div>
            <div class="row w-100 m-0 justify-content-between">
              <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Email</mat-label>
                  <input
                    type="email"
                    formControlName="email"
                    matInput
                    placeholder="Enter Email"
                  />
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Credit Limit</mat-label>
                  <input
                    type="number"
                    formControlName="credit_limit"
                    matInput
                    placeholder="Enter Credit Limit"
                  />
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-label>Image</mat-label>
                <br />
                <input
                  type="file"
                  accept=".png,  .jpg"
                  formControlName="image"
                />
              </div>
            </div>
            <div class="row w-100 m-0 justify-content-between">
              <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Telephone no</mat-label>
                  <input
                    type="number"
                    formControlName="telephone_no"
                    matInput
                    placeholder="Enter Telephone Number"
                  />
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Whatsapp No </mat-label>
                  <input
                    type="number"
                    matInput
                    placeholder="Enter Whatsapp No"
                  />
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Remark</mat-label>
                  <input
                    formControlName="remark"
                    type="text"
                    matInput
                    placeholder="Enter remark"
                  />
                </mat-form-field>
              </div>
            </div>
            <div class="row w-100 m-0 justify-content-between">
              <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Pan No</mat-label>
                  <input
                    type="text"
                    formControlName="pan_no"
                    matInput
                    placeholder="Enter Address"
                  />
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Gstin</mat-label>
                  <input
                    type="text"
                    formControlName="gstin"
                    matInput
                    placeholder="Enter Address"
                  />
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Birth Date</mat-label>
                  <input
                    matInput
                    [matDatepicker]="dp"
                    formControlName="date_of_birth"
                  />
                  <mat-hint></mat-hint>
                  <mat-datepicker-toggle
                    matIconSuffix
                    [for]="dp"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #dp></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <div class="row w-100 m-0 justify-content-between">
              <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Anniversary Date</mat-label>
                  <input
                    matInput
                    [matDatepicker]="datepick"
                    formControlName="anniversary_date"
                  />
                  <mat-hint></mat-hint>
                  <mat-datepicker-toggle
                    matIconSuffix
                    [for]="datepick"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #datepick></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="pt-3">
        <mat-card>
          <mat-card-content>
            <div class="p-2 d-flex">
              <h2>Address Detail</h2>
              <button (click)="addAddress()" class="icon-btn">
                <mat-icon>add</mat-icon>
              </button>
            </div>
            <div *ngFor="let addressGroup of addressesArray; let i = index">
              <div [formGroup]="addressGroup">
                <div class="row w-100 m-0 justify-content-between">
                  <div class="col-md-4">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Address Line 1</mat-label>
                      <input
                        type="text"
                        formControlName="address_line_1"
                        matInput
                        placeholder="Enter Address"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Address Line 2</mat-label>
                      <input
                        type="text"
                        formControlName="address_line_2"
                        matInput
                        placeholder="Enter Address"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Country</mat-label>
                      <input
                        type="text"
                        formControlName="country"
                        matInput
                        placeholder="Enter Country"
                      />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row w-100 m-0 justify-content-between">
                  <div class="col-md-4">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>State</mat-label>
                      <input
                        type="text"
                        formControlName="state"
                        matInput
                        placeholder="Enter State"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>City</mat-label>
                      <input
                        type="text"
                        formControlName="city"
                        matInput
                        placeholder="Enter City"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Pincode</mat-label>
                      <input
                        type="number"
                        formControlName="pincode"
                        matInput
                        placeholder="Enter Pincode"
                      />
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="py-3">
        <mat-card>
          <mat-card-content>
            <div class="p-2 d-flex">
              <h2>Bank Detail</h2>
              <button (click)="addBank()" class="icon-btn">
                <mat-icon>add</mat-icon>
              </button>
            </div>
            <div *ngFor="let bankGroup of banksArray; let i = index">
              <div [formGroup]="bankGroup">
                <div class="row w-100 m-0 justify-content-between">
                  <div class="col-md-4">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Account Holder Name</mat-label>
                      <input
                        type="text"
                        formControlName="account_holder_name"
                        matInput
                        placeholder="Enter Account Holder Name"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Account No</mat-label>
                      <input
                        type="number"
                        formControlName="account_no"
                        matInput
                        placeholder="Enter Account No."
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Bank Name</mat-label>
                      <input
                        type="text"
                        formControlName="bank_name"
                        matInput
                        placeholder="Enter Bank Name"
                      />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row w-100 m-0 justify-content-between">
                  <div class="col-md-4">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Branch Name</mat-label>
                      <input
                        type="text"
                        formControlName="branch_name"
                        matInput
                        placeholder="Enter Branch Name"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Bank IFSC Code</mat-label>
                      <input
                        type="text"
                        formControlName="bank_ifsc_code"
                        matInput
                        placeholder="Enter Company Name"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-md-4"></div>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </form>
  </div>
</div>

<!-- <div *ngFor="let addressGroup of addressesArray; let i = index">
  <div [formGroup]="addressGroup">
    <input formControlName="address_line_1" placeholder="Address Line 1" />
    <input formControlName="address_line_2" placeholder="Address Line 2" />
    <input formControlName="country" placeholder="Country" />
    <input formControlName="state" placeholder="State" />
    <input formControlName="city" placeholder="City" />
    <input formControlName="pincode" placeholder="Pincode" />
  </div>
</div>
<button (click)="addAddress()">Add Address</button>

<br /><br />

<div *ngFor="let bankGroup of banksArray; let i = index">
  <div [formGroup]="bankGroup">
    <input formControlName="name" placeholder="name" />
    <input formControlName="account_holder_name" placeholder="holder name" />
    <input formControlName="bank_name" placeholder="bank name" />
    <input formControlName="bank_ifsc_code" placeholder="ifsc" />
    <input formControlName="branch_name" placeholder="bank name" />
    <input formControlName="account_no" placeholder="account no" />
  </div>
</div>
<button (click)="addBank()">Add Bank</button>
<button (click)="save()">Save Address</button> -->
